@keyframes tomber {
    0%{
        transform: translateY(-100vh);
        color: white;
    }
    100%{
        transform: translateY(99vh);
        color: rgb(204, 198, 198);
    }
}


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

body{
    color: rgb(255, 255, 255);
    background-image: url(../img/fondAccueil.png);
    background-repeat: no-repeat;
}

.container{
    margin: 0;
}

.main-accueil{
    background-color: white;
    width: 99%;
    height: 25vw;
    padding: 1em;
    margin: 5pt;
    border-radius: 10px 10px 0 0;
    opacity: 0.7;
    color: black;
}

.bloc-presentation{

}

.titre{
    
}

h1{
    font-size: xxx-large;
    opacity: 1;
}

.description{
    text-align: center;
}

.actions{
    position: absolute;
    right: 0;
    display: flex;
}

.actions .btn{
    margin: 0 0.5em;
    background-color: darkgray;
    width: 7em;
    height: 2em;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 1.3em;
    box-shadow: 0 0 10px #514569;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:900px){
    .main-accueil{
        background-color: white;
        width: 97%;
        height: 25vh;
        padding: 1em;
        margin: 5pt;
    }
        
    .actions .btn{
        margin: 0;
        background-color: darkgray;
        width: 8em;
        height: 3em;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        font-size: 0.5em;
        box-shadow: 0 0 10px #514569;
        cursor: pointer;
    }

}
