
.neige{
    animation: neige 4s ease-in 2s infinite;
}
.flocon{
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px #e7e7a5;
    animation: tomber 5s linear infinite;
    z-index: 0;
}
.flocon:nth-child(1){
    left: 2%;
    animation-duration: 7s;
}
.flocon:nth-child(2){
    left: 12%;
    animation-duration: 13s;
}
.flocon:nth-child(3){
    left: 22%;
    animation-duration: 8s;
}
.flocon:nth-child(4){
    left: 32%;
    animation-duration: 5s;
}
.flocon:nth-child(5){
    left: 42%;
    animation-duration: 8s;
}
.flocon:nth-child(6){
    left: 52%;
    animation-duration: 10s;
}
.flocon:nth-child(7){
    left: 62%;
    animation-duration: 9s;
}
.flocon:nth-child(8){
    left: 72%;
    animation-duration: 11s;
}
.flocon:nth-child(9){
    left: 82%;
    animation-duration: 6s;
}
.flocon:nth-child(10){
    left: 92%;
    animation-duration: 5s;
}