@keyframes tomber {
    0%{
        transform: translateY(-100vh);
        color: white;
    }
    100%{
        transform: translateY(99vh);
        color: rgb(204, 198, 198);
    }
}


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

body{
    color: black;
    background-image: url(../img/fondAccueil.png);
    background-repeat: no-repeat;
}

.container{
    margin: 0;
}

.main-accueil{
    background-color: white;
    width: 99%;
    height: 25vw;
    padding: 1em;
    margin: 5pt;
    border-radius: 10px 10px 0 0;
    opacity: 0.7;
}

.bloc-presentation{

}

.titre{
    
}

h1{
    font-size: xxx-large;
    opacity: 1;
}

.description{
    text-align: center;
}

@media screen and (max-width:900px){
    .main-accueil{
        background-color: white;
        width: 97%;
        height: 25vw;
        padding: 1em;
        margin: 5pt;
    }
}